#divider{
    min-width: 100%;
    height: 8%;
    background-color: rgb(39, 39, 39);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px;
}
h2{
    font-size: xx-large;
}
h3{
    font-size: larger;
}
#cat{
    display: flex;
    flex-direction: row-reverse;
}