*{
    color: white;
}
p{
    color: white;
}
h2{
    color: black
}
#bikeCard{
    background-color: rgb(38, 38, 38);
    display: flex;
    flex-wrap: wrap;
    border-radius: 5%;
    width: 450px;
    height: 500px;
    justify-content: space-around;

}
#imgContainer{
    margin-top: 5%;
    width: 85%;
    height: 80%;
    border-radius: 15%;
    background-color: rgb(25, 0, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction:column-reverse;
}
#cardImage{

}
#cardLabel{
    border:solid;
    width: 45%;
    height: 15%;
    border-color: blueviolet;
    display: flex;
    justify-content: center;
    margin-left: 10%;
}
#paragraph{
    text-align: center;
    display: inline;
    width: 80%;
}